<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string></string>
		<key>additionalRows</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string></string>
		<key>additionalRows</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string></string>
		<key>additionalRows</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string></string>
		<key>additionalRows</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string></string>
		<key>additionalRows</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string></string>
		<key>additionalRows</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
