<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>English</string>
	<string>German</string>
	<string>Spanish</string>
	<string>French</string>
	<string>American Sign Language</string>
	<string>Italian</string>
	<string>Chinese</string>
	<string>Arabic</string>
	<string>Latin</string>
	<string>Russian</string>
	<string>Greek, Classical</string>
	<string>Hebrew, Biblical</string>
	<string>Hebrew, Modern</string>
	<string>Hindi</string>
	<string>Japanese</string>
	<string>Korean</string>
	<string>Portuguese</string>
	<string>Tamil</string>
	<string>Urdu</string>
	<string>Polish</string>
</array>
</plist>
