<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Semester 1</string>
	<string>Semester 2</string>
	<string>Semester 3</string>
	<string>Semester 4</string>
	<string>Semester 5</string>
	<string>Semester 6</string>
	<string>Semester 7</string>
	<string>Semester 8</string>
</array>
</plist>
